h1{
	color: silver;
}
div{
	background-color: blue ;
	width: 800px;
	height: 150px;
	border: 5px darkblue solid;
	padding: 15px;
}
div h3{
	color: white;
}
div li{
	color: white;
	list-style-type: none;
}
p{
	font-style: italic;
}
img{
	border-radius: 15px;
}
.cat_text{
	color: red;
}
.cat_{
	list-style-type: square;
}
.smile{
	font-style: normal;
}